---
year: 2009
title: "A Dose Verification Method for Proton Therapy by using a Plastic Scintillation Plate"
first_author: "Dong Wook Kim"
co_first: []
corresponding:
  - "Se Byeong Lee"
journal: "Journal of Korea Physics Society"
impact_factor: 0.476
acknowledgement: "Research project of the Korea National Cancer Center (no. NCC-0610230, NCC-0910110)"
projects: []
members: []
order: 205
---
