---
year: 2021
title: "TomoEQA: Dose verification for patient-specific quality assurance in helical tomotherapy using an exit detector"
first_author: "Min Cheol Han"
co_first: []
corresponding:
  - "Jin Sung Kim"
journal: "Physica Medica"
impact_factor: 2.485
acknowledgement: "202012E01-03"
projects:
  - "project-10"
members: []
order: 107
---
