---
year: 2022
title: "Development and Verification of LEP 300 Kilovoltage Radiotherapy System for Companion Animals"
first_author: "Na Hye Kwon"
co_first: []
corresponding:
  - "Dong Wook Kim"
journal: "Journal of the Korean Physical Society"
impact_factor: 0.649
projects: []
members:
  - "na-hye-kwon"
order: 86
---
