---
year: 2024
title: "Independent Dose Verification System for Carbon-ion Radiotherapy using TOPAS Monte Carlo code"
authors: "Yongdo Yun, Seok-Ho Lee, Min Cheol Han1, Jin Sung Kim*"
first_author: "Yongdo Yun"
corresponding:
  - "Min Cheol Han"
  - "Jin Sung Kim"
conference: "JKMP Fall"
conference_raw: "JKMP (Fall)"
type: "Poster"
members:
  - "yongdo-yun"
  - "seok-ho-lee"
order: 144
---
