---
year: 2024
title: "Development and Verification of a Real-time AI-based Tracking System for Ocular Radiation Therapy"
authors: "Dong Min Jung, Hyunjong Yoo, Seok-Ho Lee, Yongdo Yun, Jonggeol Baek, Hojin Kim, Kyung Hwan Kim, Min Cheol Han, Jin Sung Kim"
first_author: "Dong Min Jung"
corresponding:
  - "Min Cheol Han"
  - "Jin Sung Kim"
conference: "KOSRO"
type: "Poster"
members:
  - "dong-min-jung"
  - "hyunjong-yoo"
  - "seok-ho-lee"
  - "yongdo-yun"
order: 128
---
